#navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
}

#navbar ul {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    justify-content: space-evenly;
}

#welcome-section {
    height: 100vh;
}

