* {
    box-sizing:border-box
}

body {
    font-family: sans-serif;
    max-width: 750px;
    margin: 3rem auto;
    background: url("web-developers.jpg") rgba(69, 14, 117, 0.65);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: white;
}

h1, p {
    text-align: center;
}

#description {
    font-style: italic;
}

h1 {
    margin-bottom: 0rem;
    font-weight: lighter;
}

p {
    margin-bottom: 2rem;
}

form {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2.5rem 3rem;
    background-color: rgba(38, 22, 70, 0.869);
    border-radius: 5px;
}

.info {
    margin-bottom: 2rem;
}

label, legend {
    font-size: 1.25rem;
}

label {
    display: block;
}


input[type="text"],
input[type="email"],
input[type="number"],
select, 
textarea {
    width: 100%;
    padding: 0.35rem .65rem;
    font-size: 1.15rem;
    margin-top: 0.5rem;
}

input[type="radio"],
input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

fieldset {
    border: none;
    padding-left: 0;
}

fieldset label {
    display: inline;
}

.input-options-container {
    display: flex;
    flex-direction: column;
}

.option {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

textarea {
    height: 7rem;
}

button {
    padding: 0.5rem .75rem;
    width: 100%;
    background-color: green;
    color: white;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}
