/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	line-height: 1.8;
	margin: 0;
}

header {
	text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
	font-size: 1em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.logo {
	width: 35%;
	max-width: 250px;
}

table {
	width: 100%;
}

td:nth-child(1) {  
	width: 75%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */



.main-nav {
	margin-top: 5px;
}

.main-nav a {
	text-align: center;
	display: block;
	padding: 5px 15px 0 15px;
}
.main-nav a {
	font-size: .95em;
	color: #093a58;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #031b2b;
}

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.main-footer {
	text-align: center;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

.secondary {
	text-align: center;
}

#contact .row {
	justify-content: space-between;
}

/* ---- Page Elements ---- */


.secondary img {
	margin: 10px auto;
}

.img-border {
	padding: 10px;
	border: solid 1px #d9e4ea;
}

.bio-img {
	float: left;
	max-width: 300px;
	margin: 5px 15px 10px 0;
}

.contact-form input[type="email"],
.contact-form textarea {
	outline: none;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
}

.contact-form textarea:focus,
.contact-form input[type="email"]:focus
{
	box-shadow: 0 0 5px rgb(26, 2, 116);
	padding: 3%;
	border: 1px solid rgb(26, 2, 116);
}

.contact-form input[type="submit"] {
	box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #093a58;
	border-bottom: 2px solid #093a58;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}

aside {
	padding-top: 50px;
	display: flex;
	justify-content: center;
}

aside > iframe {
	max-width: 560px;
	width: 100%;
}

/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ================================= 
  Media Queries
==================================== */


@media (min-width: 769px) {
	.main-header,
	.container {
		width: 90%;
		margin: 0 auto;
		max-width: 1150px;
	}
}

