* {
	box-sizing: border-box;
}

body {
    background-color: rgb(247, 243, 207);
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

img {
	max-width: 100%;
}

h3 {
  margin: 0;
}

.col {
  padding-top: 1em;
  padding-bottom: 1em;
}

#header {
	padding-top: .5em;
  padding-bottom: .5em;
  margin-top: 5px;
  margin-bottom: 1em;
}

#header-logo {
  display: flex;
}

#header-name {
  margin: 0;
}

#mailing-list,
footer,
#nav-bar li {
  padding: 10px 15px;
  text-align: center;
}

#nav-bar a {
  font-size: .95em;
	text-transform: uppercase;
}

.row {
  display: flex;
  flex-direction: column;
}

#banner {
  padding-top: 1em;
  padding-bottom: 1em;
  color: #fff;
	background: #3acec2;
}

#video {
  width: 420px;
  height: 275px;
}

#banner h4 {
  text-align: center;
  font-size: 1.5em;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

#contact-methods {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

form {
  margin-top: 0.5em;
}

#email {
  border: none;
  height: auto;
  padding: 15px;
  font-size: 16px;
  border-radius: 8px;
}

#submit {
  padding: 10px 29px 13px 29px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #3ac162;
  margin-bottom: 10px;
  height: auto;
}

h2 {
  text-align: center;
}

#header-img {
  width: 50px;
}

#header,
#banner,
#about .row {
  align-items: center;
}

#step-one {
  background: #4cd6cb;
}

#step-two {
  background: #78e9df;
}

#step-three {
  background: #a6ece7;
}

#step-four {
  background: #c2e9e6;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  #header, 
  section {
    width: 80%;
		margin: 0 auto;
  }

  #video {
    width: 560px;
    height: 315px;
  }

  #nav-bar ul {
    display: flex;
  }

  #process .row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #process .col {
    flex: 1 50%;
  }
}

@media (min-width: 1025px) {
  #header,
  section {
    width: 70%;
		max-width: 1150px;
  }

  #header {
    flex-direction: row;
    justify-content: space-between;
  }

  #banner {
    margin-top: 1em;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #about .row {
    flex-direction: row;
    flex-direction: row-reverse;
  }

  #process .col {
    flex: 1 25%;
  }
}