* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.main-header {
    width: 100%;
    background-color: white;
    text-align: center;
    position: fixed;
}

.logo img {
    width: 100%;
    height: 100%;
    max-width: 200px;
}

.main-nav a {
	text-align: center;
	display: block;
	padding: 5px 15px;
}

main {
    padding-top: 175px;
    margin-left: 1em;
    margin-right: 1em;
}

#about p {
    line-height: 1.5;
	font-size: 1.1em;
	margin-bottom: 1.8em;
}

.about-img {
	float: left;
	max-width: 300px;
	margin: 5px 15px 10px 0;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

.price-list {
    flex-grow: 2 ;
    justify-content: center;
}

table {
    width: 100%;
    padding-left: 2em;
}

td {
    height: 1.5em;
}

td:nth-child(1) {  
	width: 80%;
}

.inside-img {
    margin: 0 auto;
    max-width: 350px;
}

.email {
    flex-grow: 3;
}

footer {
    text-align: center;
    background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

#contact {
    margin-top: 20px;
}

#contact .row {
    justify-content: space-around;
    align-items: center;
}

.contact-form input[type="email"],
.contact-form textarea {
	outline: none;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
}

.contact-form input[type="submit"] {
	box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #093a58;
	border-bottom: 2px solid #093a58;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}

.contact-form textarea:focus,
.contact-form input[type="email"]:focus
{
	box-shadow: 0 0 5px rgb(26, 2, 116);
	padding: 3%;
	border: 1px solid rgb(26, 2, 116);
}

.row .contact-form {
    align-items: center;
}

aside {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

aside > iframe {
    max-width: 560px;
    width: 100%;
}

.anchor::before {
    content: "";
    display: block;
    height: 180px; 
    margin: -180px 0 0; 
}

@media (min-width: 769px) {
    main {
        padding-top: 120px;
    }

	.main-header {
        padding: 5px 10% 10px 10%; 
        margin: 0 auto;
    }

    .logo img {
        max-width: 275px;
    }
    
    main {
        width: 80%;
        margin: 0 auto;
    }

    .anchor::before {
        height: 100px; 
        margin: -100px 0 0; 
    }
}




