/* ================================= 
  Base Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  padding-top: 170px;
  line-height: 1.6;
  background-color: #eff4f7;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-header {
  position: fixed;
  box-shadow: 0 1px 4px rgba(0,0,0,.4);
  width: 100%;
  top: 0;
  background-color: white;
}

.main-nav a {
  text-align: center;
  padding: 3px 15px;
  font-size: .95em;
  text-transform: uppercase;
  display: block;
}



/* ---- Layout Containers ---- */

.main-header {
  text-align: center;
  padding-top: .5em;
  padding-top: .5em;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.col {
  padding-left: 1em;
  padding-right: 1em;
}

/* ---- Page Elements ---- */

#about img {
  float: left;
  max-width: 300px;
  margin: 5px 20px 7px 0;
  padding: 10px;
  border: solid 1px #d9e4ea;
}

.logo {
  max-width: 175px;
  width: 40%;
}

.tertiary h3 {
  line-height: 1;
  margin-block-start: 1em;
  margin-block-end: .25em;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

  body {
    padding-top: 80px;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  header {
    padding-bottom: 10px;
  }

  .logo {
    float: left;
  }

  .primary,
  .secondary {
    width: 33%;
  }

  .main-nav {
    margin-top: 20px;
    float: right;
  }

  .main-nav li {
    display: inline-block;
    margin-left: 15px;
  }
	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {
  .container {
    width: 80%;
    max-width: 1150px;
  }
}

