html, body {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 25px 10px;
    background-color: rgb(235, 235, 235);
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.main-header {
    padding-top: 10px;
}

#title {
    margin-bottom: .40em;
    font-size: 2.5em;
    font-weight: 400;
}

#img-div {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 10px;
}

#image {
    width: 95%;
    height: auto;
    max-width: 750px;
    display: block;
    margin: 0 auto;
}

#img-caption {
    padding-top: 10px;
    padding-bottom: 10px;
}

#tribute-info {
    margin: 0 auto;
}

.timeline {
    width: 90%;
    text-align: left;
}

.timeline li {
    padding-top: 20px;
    line-height: 1.5;
}

.timeline, blockquote {
    margin: 0 auto;
}

blockquote {
    width: 85%;
    font-style: italic;
    margin-bottom: 3em;
}

.main-footer {
    padding-top: 15px;
    padding-bottom: 5px;
}

@media (min-width: 769px) {
    #image {
        width: 80%;
    }

    .timeline {
        width: 50%;
    }

    blockquote {
        width: 45%;
    }
}