body {
    background-image: radial-gradient(circle, rgb(245, 78, 175), rgb(161, 7, 97));
    color: white;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    text-shadow: 5px 8px 10px #222;
}

#image {
    max-width: 90%;
    border-radius: 30px;
    display: block;
    height: auto;
    margin: auto;
}

p {
    line-height: 1.5;
    font-size: 1.1rem;
}

a {
    color: papayawhip;
}