.container {
    font-family: arial;
}

header {
    font-size: 2em;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    padding-top: .25em;
    border-right: 2px solid gray;
    overflow: scroll;
    overflow-x: hidden;
}

#navbar header {
    text-align: center;
    margin-bottom: 0.25em;
    line-height: 1.5;
}

ul {
    padding-inline-start: 0px;
    list-style: none;
}

li {
    padding: 1em 0 1em 1em;
    font-size: 1.15em;
    border-top: 2px solid gray;
}

#main-doc {
    width: 75%;
    margin: 3% 3% 0 22%;
}

#ES6 {
    margin: auto;
    background-color: #F0DB4F;
    width: 4em;
    font-weight: bold;
    padding-top: .5em;
    padding-bottom: .5em;
}



