* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Source Sans 3", serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

.section-heading {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 0;
    padding-top: 1.5em;
}

#navbar {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}


#navbar ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.nav-link-container {
    margin: 1.5em auto;
}

.nav-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-link:hover {
    color: #007BFF;
}


#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-image: url("images/feature-photo.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(75%); 
}


#welcome-section h1 {
    padding: .5em 1.25em;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    position: relative;
    font-size: 3rem;
    text-align: center;
    border-radius: 8px;
}

.welcome-heading-subtitle {
    display: block;
    font-size: 2rem;
}

#projects {
    padding-bottom: 3em;
}

.projects-container {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 2em;
}

figure {
    margin: 0;
}

.project-title {
    width: 100%;
    background-color: black;
    padding: 1em;
    text-align: center;
}


.project-tile:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-img {
    width: 100%;
    vertical-align: middle;
}

.project-link {
    font-size: 1.25em;
    letter-spacing: 1px;
    font-weight: bolder;
    display: inline-block;
    color: white;
    text-decoration: none;
}

#contact {
    padding-top: 1em;
    padding-bottom: 3em;
}

.socials-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-link {
    color: black;
    font-size: 1.25rem;
    display: inline-block;
    margin: 1em;
    text-decoration: none;
}

footer {
    padding: 3em 1em;
    background-color: black;
    text-align: center;
}

footer small {
    color: white;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .socials-list {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}